/* SCSS Styles for Buttons */

@import './colors';

.button {
  padding: 1rem 3rem;
  display: inline-block;
  text-transform: uppercase;
  background-color: $color-brand-primary;
  text-shadow: 0 2.3px $color-brand-secondary;
  color: $color-text-main;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: .1rem;
  line-height: 4rem;
  border-radius: 5rem;
  cursor: pointer;

  transition: background-color 150ms;

  i {
    display: inline-block;
    font-size: 4rem;
    vertical-align: top;
  }

  &:hover, &:active, &.active {
    background-color: $color-brand-secondary;
    color: white;
  }
}

.toggle-button {
  position: relative;
  $toggle-radius: 90px;
  $half-radius: $toggle-radius / 2.4;
  $button-offset: $toggle-radius - $half-radius;

  width: $toggle-radius;
  height: $half-radius;
  background-color: #333;
  border-radius: $half-radius;
  cursor: pointer;

  transition: background-color 200ms;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    height: $half-radius;
    width: $half-radius;
    border-radius: $half-radius;
    background-color: white;
    box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;

    transition: transform 200ms;
  }

  &.active {
    background-color: $color-brand-primary;

    &::after {
      transform: translateX($button-offset);
    }
  }
}
