/* SCSS Styles for Input Elements */

input[type="file"] {
  display: none;
}

.number-control {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: .3rem;
  overflow: hidden;

  > * {
    display: flex;
    align-items: center;
    padding: .3rem .8rem;
    transition: background-color 150ms;

    &:first-child, &:last-child {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.2);

      &:hover {
        background-color: $color-brand-primary;
      }
    }
  }
}

.range-wrapper {
  flex: 1;
  position: relative;
  background-color: #333;
  border-radius: 25px;
  font-size: 1.6rem;

  input {
    z-index: 1;
    position: relative;
    background: 0 0;
  }

  .range-bg {
    display: block;
    background-color: $color-brand-primary;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 25px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0;
  cursor: pointer;
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $color-brand-primary;
  border: 0px solid #010101;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #1e1e20;
  border: 0px solid #010101;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  height: 22px;
  width: 22px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 13px;
}
