// Fade Transition
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
  left: 0;
  opacity: 0;
}


// Slide-Left Transition
.slide-left-enter-active, .slide-left-leave-active {
  transition: all .5s;
}

.slide-left-enter, .slide-left-leave-active {
  transform: translateX(-100%);
}

.slide-left-leave {
  transform: translateX(0);
}
