	html {
    zoom: 0.67; /* Old IE only */
	} 
 .search_loop_img {
	float:left;
  }
  .search_loop_name {
	  float:left;
	  padding-top:10px;
	  padding-left:25px;
	  width: 60%;
  }
  .search_loop_name p {
	  margin:0px;
	  color:white;
  }
  .search_loop_price {
    float: right;
    font-size: 24px;
    color: #ee894d;
    border: 1px solid #ee894d;
    padding: 5px;
    margin-top: 15px;
    margin-right: 20px;

  }
  .search_loop_item {
	  border-bottom:1px solid #3a393a;
	  clear: both;
  }
  .search_loop_name .search_loop_artistname {
	  color: #7d7c7d;
  }
  
  .search_loop_img_top {
	width:75px;
	height:75px;
	text-align:center;
	position:relative;
	background-size: cover;
	cursor:pointer;
}
.search_loop_img_blackbg{
	width:75px;
	height:75px;
	opacity: 0.65;
    filter: alpha(opacity=65); /* For IE8 and earlier */
	background:black;
}

.search_loop_img_button {

	top:30px;
	width: 75px;
	position:absolute;
	color:white!important;
	}
.search_loop_img_button i {
	font-size:30px;
	color:white;
}
.nothingfoundajax {
	color:white;
	text-align:center;
	font-size:32px;
}
.closeadsensebut {
	padding:3px;
	background-color:white;
	float:right;
	font-size: 15px;
}
.adsense2code i{ 
	cursor:pointer;
}
.note-area .note { 
	zoom:1.5;
}
.main-controls-wrapper {
    position: static!important;
}
.ad-component .adsense2code {
	z-index: 99999;
}