<template>
  <div id="adComponent" class="ad-component">
    <!-- Paste Ad Code here -->
    <!-- Midi2Piano -->
    <ins class="adsbygoogle"
    style="display:block; height:100%"
    data-ad-client="ca-pub-4840744930586832"
    data-ad-slot="9317264708"
    data-ad-format="auto"></ins>

    <!-- Second Adsense code -->
    <ins class="adsbygoogle"
    style="position: fixed;"
    data-ad-client="ca-pub-4840744930586832"
    data-ad-slot="4553184302"></ins>
  </div>
</template>

<script>

  export default {
    mounted() {
      try {
        (window.adsbygoogle = window.adsbygoogle || []).push({})
        (window.adsbygoogle = window.adsbygoogle || []).push({})
      } catch (e) {
        console.log(e)
      }
    }
  }
</script>

<style lang="scss">
.ad-component {
  flex: 1;
  height: calc(100% - 3rem);


  &:empty {
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.3);
    background-color: #1E1E20;

    &::after {
      content: 'Ad Space';
    }
  }
.adsense2code {
width:728px;height:90px;
	position: fixed;top: 68%;
left: 50%;
margin-top: -45px;
margin-left: -364px;zoom:1.5;
}
}
</style>
