<template>
  <div class="keyboard-wrapper">
    <div class="cover-bar"></div>
    <div class="keyboard">
      <template v-for="key of globalState.keyPositions">
        <div v-if="!key.isBlack" @mousedown="noteOn(key.note)" @mouseup="noteOff(key.note)" class="key"
        :class="{active: key.isActive, 'has-color': key.activeColor}"
        :style="{left: key.offsetLeft + '%', background: key.activeColor, opacity: key.opacity || 1}">
          <span v-if="globalState.config.noteHelper">{{noteToKey(key.note) | midiKeyToRealKey}}</span>
        </div>
        <div v-if="key.isBlack" @mousedown="noteOn(key.note)" @mouseup="noteOff(key.note)" class="key black"
        :class="{active: key.isActive, 'has-color': key.activeColor}"
        :style="{left: key.offsetLeft + '%'}">
          <div v-if="!globalState.config.noteHelper" class="key-tip"></div>
          <div class="key-bg" :style="{background: key.activeColor, opacity: key.opacity || 1}"></div>
          <span v-if="globalState.config.noteHelper">{{noteToKey(key.note) | midiKeyToRealKey}}</span>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import {State} from '../state/state'

  export default {
    data() {
      return {
        globalState: State
      }
    },

    methods: {
      noteOn(note, velocity) {
        this.globalState.MIDI.noteOn(-1, 0, note, velocity || 127, 0)
      },

      noteOff(note) {
        this.globalState.MIDI.noteOff(0, note, 0)
      },

      noteToKey(note) {
        return this.globalState.MIDI.noteToKey[note]
      }
    }
  }
</script>

<style lang="scss" scoped>

.keyboard-wrapper {
  outline: 0 !important;
}

.cover-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  background-color: #1B1B1B;
  z-index: 100;
  height: 3.2vmin;
}

.keyboard {
  width: 100%;
  background-color: #1B1B1B;

  $color-key-top: #777;
  $color-key-main: #fff;
  $color-key-tip: #444;

  .key {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: 2px;
    height: 100%;
    width: 1.92%;
    box-sizing: border-box;
    padding-bottom: 8px;
    color: black;
    background: linear-gradient(to bottom, $color-key-top 0%, $color-key-main 96%, $color-key-tip 96.5%, lighten($color-key-top, 10) 100%);
    text-shadow: 0 0 8px white;
    // Fix for a weird rendering of a single key.
    margin: 0 .1px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: .2rem;
    font-size: 1.6vmin;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    transition: box-shadow 150ms, opacity 250ms;
    z-index: -1;

    $key-highlight-color: #FDD95A;
    $key-shadow-enabled: true;
    $key-shadow-color: rgba(0, 0, 0, .6);
    $bubble-color: rgba(255, 255, 255, .25);
    $lg-radius: 4vmin;
    $sm-radius: 2.7vmin;
    $base-anim-speed: 200ms;

    &::before {
      box-sizing: content-box;
      opacity: 1;
      top: calc(-#{$lg-radius / 2});
      left: 50%;
      margin-left: - $lg-radius / 2;
      width: $lg-radius;
      height: $lg-radius / 2;
      border-radius: $lg-radius $lg-radius 0 0;
      transition: opacity $base-anim-speed, transform $base-anim-speed * 7;
    }

    &::after {
      opacity: 1;
      left: 50%;
      right: 0;
      top: calc(-#{$sm-radius / 2});
      left: 50%;
      margin-left: - $sm-radius / 2;
      width: $sm-radius;
      height: $sm-radius / 2;
      border-radius: $sm-radius $sm-radius 0 0;
      transition: opacity $base-anim-speed, transform $base-anim-speed * 15;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      pointer-events: none;
      background-color: $bubble-color;
      opacity: 0;
      transform: scale(1);
    }

    &.active.has-color, &:active.has-color {
      &::before {
        opacity: 1;
        transform: scale(3);
      }

      &::after {
        opacity: 1;
        transform: scale(3.8);
      }
    }

    &.black {
      top: 2px;
      flex: 0;
      width: 1.3%;
      box-sizing: border-box;
      z-index: 1;
      text-shadow: 0 0 10px black;
      background: #1B1B1B;
      color: white;
      font-size: 1.1vmin;
      height: 60%;
      border: 0;

      @if $key-shadow-enabled {
        box-shadow: 0px 1px 5px $key-shadow-color;
      }

      $color-tip-top: rgba(255, 255, 255, 0.15);
      $color-tip-bottom: rgba(255, 255, 255, 0.3);

      .key-tip {
        position: absolute;
        bottom: 4px;
        left: 4px;
        right: 4px;
        height: 16px;
        background: linear-gradient(to top, $color-tip-top 0%, $color-tip-bottom 100%);
        transform: perspective(10px) rotateX(10deg);
        border-radius: .2rem;
      }

      .key-bg {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #1B1B1B;
        border-radius: .2rem;
      }

      &:hover, &.active {
        background: #1B1B1B;

        .key-bg {
          background: darken($key-highlight-color, 25);
        }
      }

      &:active, &.active {
        @if $key-shadow-enabled {
          box-shadow: 0 -2px 2px $key-shadow-color;
        }
      }
    }

    &:hover, &.active {
      $key-highlight-color-dark: darken($key-highlight-color, 40);
      background: linear-gradient(to bottom, $key-highlight-color 0%, $key-highlight-color 96%, $key-highlight-color-dark 96.5%, $key-highlight-color-dark 100%);
    }

    &:active, &.active {
      background: $key-highlight-color;

      @if $key-shadow-enabled {
        box-shadow: inset 0 0 5px $key-shadow-color;
      }
    }
  }
}

</style>
