<template>
  <section class="layer-controls col-md-3 col-xs-4">
    <div class="layer" v-if="enabledFeatures.layersPanel.mute && enabledFeatures.layersPanel.hide">
      <span class="layer-name global">Global Controls</span>
      <span class="controls">
        <i class="material-icons button hover" @click="hideAllLayers()">remove_red_eye</i>
        <i class="material-icons button hover" @click="muteAllLayers()">volume_mute</i>
      </span>
    </div>
    <div v-for="(track, index) in globalState.tracks" class="layer">
      <label class="layer-color" :style="{backgroundColor: track.color}">
        <input type="color" :style="{visibility: 'hidden'}" v-model="track.color" @change="setLayerColor($event, track)"/>
      </label>
      <span class="layer-name">{{track.name || 'Layer ' + index}}</span>
      <span class="controls">
        <i class="material-icons button" v-if="enabledFeatures.layersPanel.hide" :class="{active: track.show}" @click="toggleLayerHide(index)">remove_red_eye</i>
        <i class="material-icons button" v-if="enabledFeatures.layersPanel.mute" :class="{active: !track.mute}" @click="toggleLayerMute(index)">volume_up</i>
      </span>
    </div>
  </section>
</template>

<script>

import {State} from '../state/state'

export default {
  data () {
    return {
      globalState: State,
      enabledFeatures: State.config.enabledFeatures,
      allHidden: false,
      allMuted: false,
    }
  },

  methods: {
    setLayerColor($event, track) {
      track.color = $event.target.value
      track.isDirty = true
      track.saveConfig()
    },

    hideAllLayers() {
      for (let key in this.globalState.tracks) {
        const track = this.globalState.tracks[key]
        track.show = this.allHidden
        track.saveConfig()
      }

      this.allHidden = !this.allHidden
    },

    muteAllLayers() {
      this.allMuted = !this.allMuted

      for (let key in this.globalState.tracks) {
        this.toggleLayerMute(key, this.allMuted)
      }
    },

    toggleLayerHide(layer) {
      const track = this.globalState.tracks[layer]
      track.show = !track.show
      track.saveConfig()
    },

    toggleLayerMute(layer, muted) {
      muted = muted != null ? muted : !this.globalState.tracks[layer].mute;

      this.globalState.tracks[layer].mute = muted;
      this.globalState.tracks[layer].saveConfig()
      this.globalState.MIDI.WebAudio.setTrackVolume(layer, +!muted);
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../styles/colors';
@import '../styles/input';

.layer-controls {
  z-index: 200;
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  overflow: auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;

  .layer {
    display: block;
    height: 85px;
    color: $color-text-main;
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: -2px;

    .layer-color {
      display: inline-block;
      height: 100%;
      width: 20px;
      cursor: pointer;
    }

    .layer-name {
      flex: 1;
      margin-left: 2rem;

      &.global {
        text-transform: uppercase;
      }
    }

    .controls {
      margin-right: 1rem;
      color: rgba(255, 255, 255, 0.3);

      i {
        font-size: 4rem;
        margin: 1rem;
        cursor: pointer;
        transition: color 200ms;

        &.active, &.hover:hover {
          color: $color-brand-primary;
        }
      }
    }
  }
}

</style>
