<template>
  <header class="main-controls">
    <div class="col-md-3 col-xs-4 left-controls">
      <div class="menu-button">
        <span class="button" @click="globalState.SearchOpen = !globalState.SearchOpen" :class="{active: globalState.SearchOpen}">
          <transition name="fade">
            <i class="material-icons" v-show="!globalState.SearchOpen">
              search
            </i>
          </transition>
          <transition name="fade">
            <i class="material-icons" v-show="globalState.SearchOpen">
              close
            </i>
          </transition>
        </span>
      </div>
	
      <div class="menu-button" v-if="enabledFeatures.layersPanel">
        <span class="button" @click="globalState.layerControlsOpen = !globalState.layerControlsOpen" :class="{active: globalState.layerControlsOpen}">
          <transition name="fade">
            <i class="material-icons" v-show="!globalState.layerControlsOpen">
              menu
            </i>
          </transition>
          <transition name="fade">
            <i class="material-icons" v-show="globalState.layerControlsOpen">
              close
            </i>
          </transition>
          <span class="hidden-sm hidden-xs">Layers</span>
        </span>
      </div>
      <div class="settings-button" v-if="enabledFeatures.subControls">
        <span class="button" @click="globalState.subControlsOpen = !globalState.subControlsOpen" :class="{active: globalState.subControlsOpen}">
          <i class="material-icons">
            settings
          </i>
        </span>
      </div>
    </div>
    <div class="col-sm-4 col-xs-8 center-controls">
      <div class="top-row">
        <div class="control-area button" @click="globalState.skipTo(0)" v-if="enabledFeatures.mainControls.rewind">
          <i class="material-icons">
            fast_rewind
          </i>
        </div>
        <div class="control-area button" @click="globalState.togglePlayState()" v-if="enabledFeatures.mainControls.playPause">
          <i class="material-icons">
            {{globalState.playState > 1 ? 'pause' : 'play_arrow'}}
          </i>
        </div>
        <div class="control-area button" @click="globalState.stop()" v-if="enabledFeatures.mainControls.stop">
          <i class="material-icons">
            stop
          </i>
        </div>
        <div class="control-area no-center volume-controls" v-if="enabledFeatures.mainControls.volume">
          <i class="material-icons">
            volume_up
          </i>
          <div class="range-wrapper">
            <input type="range" min="0" value="127" max="127" step="1" @input="setVolume($event)">
            <div class="range-bg" :style="{width: (globalState.volume / 127) * 100 + '%'}"></div>
          </div>
        </div>
      </div>
      <div class="bottom-row" v-if="enabledFeatures.mainControls.progress">
        <span class="numbers">{{globalState.currentPosition | msToTime}}</span>
        <div class="range-wrapper">
          <!-- Allow skipping if feature is enabled -->
          <input type="range" min="0" :value="globalState.currentPosition" :max="globalState.MIDI.Player.endTime" step="1"
          v-if="enabledFeatures.mainControls.progress.skip" @input="debouncedSkip($event)">
          <!-- Otherwise render a version without skipping capability -->
          <input type="range" min="0" v-model="globalState.currentPosition" :max="globalState.MIDI.Player.endTime" step="1"
          v-if="!enabledFeatures.mainControls.progress.skip">
          <div class="range-bg" :style="{width: (globalState.currentPosition / globalState.MIDI.Player.endTime) * 100 + '%'}"></div>
        </div>
        <span class="numbers">{{globalState.MIDI.Player.endTime | msToTime}}</span>
      </div>
    </div>
    <div class="col-md-5 col-sm-4 hidden-xs right-controls">
      <ad-component></ad-component>
    </div>
  </header>
</template>

<script>

import {State} from '../state/state'
import AdComponent from './AdComponent.vue'

export default {

  data () {
    return {
      globalState: State,
      enabledFeatures: State.config.enabledFeatures,
    }
  },

  components: {
    AdComponent
  },

  methods: {
    setVolume($event) {
      this.globalState.setVolume($event.target.value)
    },

    debouncedSkip: $.throttle(200, ($event) => {
      State.skipTo($event.target.value)
    })
  }
}

</script>

<style lang="scss" scoped>

@import '../styles/colors';
@import '../styles/input';

.main-controls {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  .left-controls {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;

    .logo, .menu-button, .settings-button {
      flex: 1;
      white-space: nowrap;
    }

    .menu-button {
      text-transform: uppercase;
      font-size: 2.2rem;
      letter-spacing: .1rem;
      font-weight: 600;

      span {
        display: inline-block;
      }
    }

    .settings-button .button {
      &:after {
        content: '';
        position: absolute;
        top: 90px;
        right: 0;

        width: 0;
        height: 0;
        border-left: 23px solid transparent;
        border-right: 23px solid transparent;
        border-bottom: 23px solid black;

        transition: transform .6s;
      }

      &.active {
        &::after {
          transform: translateY(-28px);
        }
      }
    }
  }

  .center-controls {
    $control-border-color: rgba(0, 0, 0, 0.1);

    display: flex;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid $control-border-color;
    border-right: 1px solid $control-border-color;
    padding: 0;

    .top-row, .bottom-row {
      flex: 1;
      white-space: nowrap;

      display: flex;

      .control-area {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $control-border-color;

        &:last-child {
          border-right: 0;
        }

        &.no-center {
          text-align: left;
        }
      }
    }

    .volume-controls {
      display: flex;
      align-items: center;
      padding: 1rem;

      i {
        margin-right: 1rem;
      }

      input {
        flex: 1;
      }
    }

    .top-row {
      border-bottom: 1px solid $control-border-color;
    }

    .bottom-row {
      display: flex;
      align-items: center;

      .numbers {
        margin: 1rem;
        font-size: 1.8rem;
      }
    }
  }

  .right-controls {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100%;
  }

  .button {
    position: relative;
    transition: color 150ms;
    cursor: pointer;

    i {
      vertical-align: middle;
      font-size: 5rem;
    }

    &:hover, &:active, &.active {
      color: $color-brand-primary;
    }
  }
}

</style>
