<template>
  <div class="note-area">
    <div class="note-wrapper" id="noteWrapper" :class="{'note-helper': globalState.config.noteHelper}">
    </div>
  </div>
</template>

<script>
// Be warned, this file is very complex and difficult to edit. You may want to avoid it at all costs or contact me as to how it works.
// Once it has finished being written I will try to document it, but no promises.

import {State} from '../state/state'
import {NoteOps} from '../util/note-ops'

let timeOfLastNote = 0
let currentAdjustedPosition = 0
let noteWrapper = null;

function rebuildOffset(delay, useDates) {
  let base = 0;
  base += +State.MIDI.Player.currentTime

  if(useDates) {
    base += Date.now() - timeOfLastNote
  }

  if(delay) {
    base += delay
  }


  return base / State.getViewDistance()
}

let renderedNotes = {}

function renderNotes(needsRerender) {
  if(!noteWrapper) noteWrapper = document.getElementById('noteWrapper')

  // Should probably be using a loop and Object.keys here, but I'm lazy.
  for (let trackIndex in State.tracks) {
    const track = State.tracks[trackIndex]

    track.notes.forEach((note, noteIndex) => {
      const noteId = `NOTE__track_${trackIndex}_note_${noteIndex}`

      const isPastEnd = note.end <= (currentAdjustedPosition - 150)
      const isBeforeStart = ((note.start - currentAdjustedPosition) / State.getViewDistance()) > 1500

      // If the note is past the end of the viewport, before the start of the viewport, hidden, or a total re-render is needed, delete the note.
      if(isPastEnd || isBeforeStart || !track.show || track.isDirty || needsRerender) {
        const elem = document.getElementById(noteId)
        delete renderedNotes[noteId]
        if(elem) elem.parentElement.removeChild(elem)

        // Rebuild the note if it just requested a re-render.
        if(needsRerender || track.isDirty) {
          renderNote(noteId, track, note)
        }
      } else {
        renderNote(noteId, track, note)
      }
    })

    track.isDirty = false
  }
}

function renderNote(noteId, track, note) {
  let noteElement = renderedNotes[noteId];

  if(!noteElement) {
    noteElement = document.createElement('div')
    noteElement.id = noteId

    noteElement.classList.add('note')
    State.keyPositions[note.noteNumber - 21].isBlack ? noteElement.classList.add('black-note') : null

    noteElement.style.left = `${State.keyPositions[note.noteNumber - 21].offsetLeft}%`
    noteElement.style.backgroundColor = track.color
    noteElement.style.bottom = `${note.start / State.getViewDistance()}%`
    noteElement.style.height = `${(note.end - note.start) / State.getViewDistance()}%`
    noteElement.style.opacity = State.config.useNoteOpacity ? Math.max(note.velocity / 127, 0.4) : 1

    noteWrapper.appendChild(noteElement)
    renderedNotes[noteId] = noteElement

    // Add note helper
    let noteHelper = document.createElement('span')
    noteHelper.textContent = NoteOps.midiKeyToRealKey(note.key)
    noteElement.appendChild(noteHelper)
  }
}

function clearNoteWrapper() {
  const noteWrapper = document.getElementById('noteWrapper')
  if(!noteWrapper) return

  renderedNotes = {}
  noteWrapper.innerHTML = ''
}

function rebuildOffset(delay, useDates) {
  let base = 0;
  base += +State.MIDI.Player.currentTime

  if(useDates) {
    base += Date.now() - timeOfLastNote
  }

  if(delay) {
    base += delay
  }

  return base / State.getViewDistance()
}

function setNoteWrapperOffset(offset) {
  if(!noteWrapper) noteWrapper = document.getElementById('noteWrapper')
  noteWrapper.style.transform = `translateY(${offset}%)`
}

function setNoteWrapperDelay(delay) {
  if(!noteWrapper) noteWrapper = document.getElementById('noteWrapper')
  noteWrapper.offsetHeight
  noteWrapper.style.transition = `transform ${delay}ms linear`
}

export default {
  props: [
    'player'
  ],

  data() {
    return {
      globalState: State,
      finishPosition: 0,
      finishDelay: 0,
      offset: 0
    }
  },

  methods: {
    noteShouldBeRendered(track, note) {
      return track.show
    },
  },

  mounted() {
    const renderNoteLoop = () => {

      if(State.playState === 2) {
        currentAdjustedPosition = Math.max(Date.now() - timeOfLastNote, 0) + State.currentPosition
        renderNotes()
      } else if (State.playState === 3) {
        currentAdjustedPosition = 0
        renderNotes()
      } else if (State.playState === 1) {
        currentAdjustedPosition = State.currentPosition
        renderNotes()
      }

      requestAnimationFrame(renderNoteLoop)
    }

    requestAnimationFrame(renderNoteLoop)

    setInterval(() => {
      // Update the position and transition of the piano roll every x milliseconds.
      if(State.playState === 2) {
        const offset = rebuildOffset(State.config.playerAutoCorrectDelay, true)
        setNoteWrapperOffset(offset)
        setNoteWrapperDelay(State.config.playerAutoCorrectDelay)
      }
    }, State.config.playerAutoCorrectDelay)

    State.eventBus.$on('player.loadFiles', () => {
      clearNoteWrapper()
    })

    State.eventBus.$on('player.pre-start', () => {
      const offset = -State.config.playerStartDelay
      timeOfLastNote = Date.now()

      // Set the position to just out of screen above the display.
      setNoteWrapperDelay(0)
      setNoteWrapperOffset(offset)

      // Transition to the starting position to start the song.
      this.$nextTick(() => {
        setNoteWrapperDelay(State.config.playerStartDelay * State.getViewDistance())
        setNoteWrapperOffset(0)
      })
    })

    State.eventBus.$on('player.play', () => {
      timeOfLastNote = Date.now()

      // Reset offset to now.
      setNoteWrapperDelay(0)
      setNoteWrapperOffset(rebuildOffset(0))

      // Set offset to the new target in x milliseconds
      let offset = rebuildOffset(State.config.playerAutoCorrectDelay)
      setNoteWrapperDelay(State.config.playerAutoCorrectDelay)
      setNoteWrapperOffset(offset)
    })

    State.eventBus.$on('player.pause', () => {
      // Pause playback after 100 milliseconds
      setNoteWrapperDelay(100)
      setNoteWrapperOffset(rebuildOffset(0))
    })

    State.eventBus.$on('player.stop', () => {
      // Reset everything to zero.
      setNoteWrapperDelay(0)
      setNoteWrapperOffset(0)
    })

    State.eventBus.$on('player.zoomChange', () => {
      setTimeout(() => {
        renderNotes(true)
      }, 100)
    })

    MIDI.Player.addListener(data => {
      timeOfLastNote = Date.now()
    })
  }
}
</script>

<style lang="scss">
.note-area {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;

  .note {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    border-radius: .3rem;
    position: absolute;
    width: 1.92%;
    padding: 2px;
    color: white;
    font-size: 2vmin;
    text-shadow: 0 0 5px black;

    &.black-note {
      width: 1.3%;
      font-size: 1.5vmin;
    }

    span {
      visibility: hidden;
    }
  }
}

.note-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.note-helper .note span {
    visibility: visible;
  }
}

</style>
