<template>
  <section class="search-controls col-md-3 col-xs-4">
    <div class="search">
      <div class="inputandbut"><input class="inputgo" type="text" v-on:keyup.enter="ajaxsend" placeholder="search song/artist"><span v-on:click="ajaxsend"><i class="material-icons searchiconinput">search</i></span></div>
    </div>
	<div class="search searchlogintext">
      Have an account? <a href="https://gotmidi.com/account" target="_blank">Log in</a> here<br /> to access your midis
    </div>
	<div id="searchcontent">
	</div>

  </section>
</template>

<script>

/*import {State} from '../state/state'

export default {
  data () {
    return {
      globalState: State,

    }
  },
mounted() {
reqwest({
    url: 'https://gotmidi.com/wp-admin/admin-ajax.php?action=wpse144893_search'
  , type: 'json'
  , method: 'get'
  , crossOrigin: true
  , data: [ { name: 'term', value: 'money' }, { name: 'limit', value: 100 } ]
  , contentType: 'application/json'
   , headers: {
      'Content-Type': 'text/plain'
    }
  , error: function (err) { alert('1'); }
  , success: function (resp) {
     console.log(resp);
    }
})

}
  
  }*/


import {State} from '../state/state'

export default {
  data () {
    return {
      globalState: State,
      enabledFeatures: State.config.enabledFeatures
    }
  },

  methods: {
     ajaxsend: function (event) {
     reqwest({
    url: 'https://gotmidi.com/wp-admin/admin-ajax.php?action=wpse144893_search'
  , type: 'json'
  , method: 'get'
  , crossOrigin: true
  , data: [ { name: 'term', value: jQuery(".inputgo").val() }, { name: 'limit', value: 100 } ]
  , contentType: 'application/json'
   , headers: {
      'Content-Type': 'text/plain'
    }
  , error: function (err) { jQuery('#searchcontent').html('Error.');}
  , success: function (resp) {
		if (resp.status == 'success') {
            
            var output="<div class='search_loop'>";
            for (var i in resp.result) 
            {
				output+="<div class='search_loop_item'>";
                output+="<div class='search_loop_img'><div class='search_loop_img_top' style='background-image:url(" + resp.result[i].image + ");'><div class='search_loop_img_blackbg'></div><div class='search_loop_img_button'><a target='blank' href='"+ resp.result[i].permalink +"'><i class='material-icons'>play_arrow</i></a></div></div></div>";
                output+="<a target='blank' href='"+ resp.result[i].permalink +"'><div class='search_loop_name'><p>" + resp.result[i].title + "</p>";
                output+="<p class='search_loop_artistname'>" + resp.result[i].catname + "</p></div>";
                output+="<div class='search_loop_price'>GET</div></a>";
				output+="</div>";
            }
            output+="</div>";
            
            jQuery('#searchcontent').html(output);
		}
		else if (resp.status == 'error') {
			jQuery('#searchcontent').html('<div class="nothingfoundajax">Nothing found.</div>');
		}
    }
})
    }





  }
}



</script>


<style lang="scss" scoped>

@import '../styles/colors';
@import '../styles/input';

.search-controls {
  z-index: 200;
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  overflow: auto;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.25);
  background-color:#272427;
  padding: 0;
  

  .search {
	text-align:center;
    display: block;
    height: 85px;
    color: $color-text-main;
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    border-top: 1px solid #3a393a;
    border-bottom: 1px solid #3a393a;
    margin-top: -2px;
  }
  .searchlogintext {
	display: block;
    font-size: 20px;
    padding-top: 10px;
	background-color:#1d1b1d;
  }
   .searchlogintext a {
	color:#b82b69;
  }
  .search input {
    background-color: black;
    border-radius: 20px;
    color: #7d7c7d;
    padding-left: 35px;
    border-color: #181718;
  }
  .search .inputandbut {
	margin:0 auto;
	position:relative;
  }
  .search .inputandbut i {
	cursor:pointer;
	position: absolute;
    right: 10px;
    top: 8px;
  }
  .search_loop_img {
	float:left;
  }
  #searchcontent {
  font-size: 20px;
  
  }
}
  
</style>
