<template>
  <div class="sheet-music">
    <div class="focal" v-if="baseSheetFile">
      <img class="music-display-image" v-if="baseSheetFile" :src="PNGPath">
    </div>
    <div class="control-area" v-if="baseSheetFile">
      <a class="button download" :href="SVGPath" download>
        <i class="material-icons">file_download</i> Download (SVG)
      </a>
      <a class="button download" :href="PNGPath" download>
        <i class="material-icons">image</i> Download (PNG)
      </a>
      <a class="button download" :href="PDFPath" download>
        <i class="material-icons">picture_as_pdf</i> Download (PDF)
      </a>
    </div>
    <transition name="fade">
      <div class="loader" v-if="!baseSheetFile">
        Loading...
      </div>
    </transition>
  </div>
</template>

<script>
import {State} from '../state/state'

export default {
  props: [
    'player'
  ],

  data() {
    return {
      globalState: State,
      baseSheetFile: ''
    }
  },

  computed: {
    PNGPath() {
      return `${State.config.musicProcessingServer}/png/${this.baseSheetFile}.png`;
    },
    PDFPath() {
      return `${State.config.musicProcessingServer}/pdf/${this.baseSheetFile}.pdf`;
    },
    SVGPath() {
      return `${State.config.musicProcessingServer}/svg/${this.baseSheetFile}.svg`;
    }
  },

  mounted() {
    setInterval(() => {
      if(State.currentFiles.sheet) {
        this.baseSheetFile = State.currentFiles.sheet
      } else if (this.baseSheetFile) {
        this.baseSheetFile = null
      }
    }, 600)
  },

  updated() {
    const focalElement = $('.focal')

    const panZoom = $('.music-display-image').panzoom()

    panZoom.parent().on('mousewheel.focal', function(e) {
      contain: "invert",
      e.preventDefault();
      var delta = e.delta || e.originalEvent.wheelDelta;
      var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
      panZoom.panzoom('zoom', zoomOut, {
        contain: true,
        focal: e,
        increment: 0.3,
        minScale: 1,
        maxScale: 3
      });
    });
  }
}
</script>

<style lang="scss" scoped>
@import '../styles/colors';

.sheet-music {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 900;
  background-color: rgb(232,227,216);
  box-shadow: inset 0 0 40px 0 #000;

  .focal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  .control-area {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    font-size: 2rem;
    padding: 1rem;

    .button {
      padding: 1rem;
      margin: 1rem;
      display: flex;
      cursor: pointer;
      text-decoration: none;
      color: #eee;
      background-color: transparentize($color-brand-secondary, 0.2);
      border-radius: 1rem;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      transition: background-color 150ms;

      &:hover {
        background-color: transparentize($color-brand-primary, 0.2);
      }

      i {
        font-size: 3rem;
        margin-right: .5rem;
      }
    }
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vmin;
  }

  img {
    height: 100%;
    min-width: 100%;
  }
}
</style>
