<template>
  <section class="sub-controls">

    <div class="hidden-sm controls-section mode-controls" v-if="enabledFeatures.subControls.mode">
      <span class="text">Mode</span>
      <i class="material-icons rotate" :class="{active: globalState.displayMode === 0}" @click="globalState.displayMode = 0">sort</i>
      <i class="material-icons"
        :class="{active: globalState.displayMode === 1}" @click="globalState.displayMode = 1">music_note</i>
    </div>

    <div class="controls-section audio-effect-controls" v-if="enabledFeatures.subControls.reverb && globalState.config.audioEffectsOn">
      <span class="text">Reverb</span>
      <div class="range-wrapper">
        <input type="range" min="0" :value="globalState.config.reverbAmount" max="1" step="0.01" @input="globalState.adjustReverb($event.target.value)">
        <div class="range-bg" :style="{width: globalState.config.reverbAmount * 100 + '%'}"></div>
      </div>
    </div>

    <div class="controls-section speed-controls" v-if="enabledFeatures.subControls.speed">
      <div class="text">Speed</div>

      <div class="number-control">
        <div class="button-minus" @click="increaseTimeWarp()">
          <i class="material-icons">remove</i>
        </div>
        <div class="number-display">
          {{ Math.round((2 - globalState.MIDI.Player.timeWarp) * 100) }}%
        </div>
        <div class="button-plus" @click="decreaseTimeWarp()">
          <i class="material-icons">add</i>
        </div>
      </div>
    </div>

    <div class="controls-section helper-controls" v-if="enabledFeatures.subControls.noteHelper">
      <span class="text">Note Helper</span>
      <div class="toggle-button" :class="{active: globalState.config.noteHelper}" @click="globalState.config.noteHelper = !globalState.config.noteHelper">
      </div>
    </div>

    <div class="controls-section zoom-controls" v-if="enabledFeatures.subControls.zoom">
      <div class="text">Zoom</div>
      <div class="number-control">
        <div class="button-minus" @click="globalState.zoomOut()" v-show="globalState.config.zoomLevel < globalState.config.zoomLevels.length - 1">
          <i class="material-icons">remove</i>
        </div>
        <div class="number-display">
          {{ globalState.config.zoomLevels[globalState.config.zoomLevel].percentage }}%
        </div>
        <div class="button-plus" @click="globalState.zoomIn()" v-show="globalState.config.zoomLevel > 0">
          <i class="material-icons">add</i>
        </div>
      </div>
    </div>

    <div class="controls-section shrink fullscreen-controls" v-if="enabledFeatures.subControls.fullscreen">
      <div class="text" @click="toggleFullscreen()">
        <i class="material-icons" v-if="!globalState.isFullscreen">fullscreen</i>
        <i class="material-icons" v-if="globalState.isFullscreen">fullscreen_exit</i>
      </div>
    </div>

  </section>
</template>

<script>

import {State} from '../state/state'

export default {
  data () {
    return {
      globalState: State,
      enabledFeatures: State.config.enabledFeatures
    }
  },

  methods: {
    toggleFullscreen () {
      this.globalState.isFullscreen ? document.exitFullscreen() : document.body.requestFullscreen()
      this.globalState.isFullscreen = !this.globalState.isFullscreen
    },

    setZoom ($event) {
      const zoomLevel = (1 - ($event.target.value / 100)) * 100
      this.globalState.pause()
      this.globalState.setZoom(zoomLevel > 0 ? zoomLevel : 1)

      setTimeout(() => {
        this.globalState.play()
      }, 100)
    },

    increaseTimeWarp () {
      if(this.globalState.MIDI.Player.timeWarp < 1.95) {
        this.globalState.setTimeWarp(Math.min(this.globalState.MIDI.Player.timeWarp + 0.1, 1.95));
      }
    },

    decreaseTimeWarp () {
      if(this.globalState.MIDI.Player.timeWarp > 0.25) {
        this.globalState.setTimeWarp(Math.max(this.globalState.MIDI.Player.timeWarp - 0.1, 0.25));
      }
    }
  }
}

</script>

<style lang="scss" scoped>

@import '../styles/colors';
@import '../styles/input';
@import '../styles/button';

.sub-controls {
  z-index: 300;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  height: 160px;
  display: flex;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.6);

  .controls-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    color: white;

    font-size: 2.7rem;
    text-transform: uppercase;

    &.shrink {
      flex: 0;
      padding: 2rem;
    }

    > * {
      margin: 1rem;
    }

    .text {
      i {
        font-size: 4rem;
        cursor: pointer;
      }
    }
  }

  .mode-controls {
    i {
      font-size: 4rem;
      transition: color 200ms;
      cursor: pointer;

      &.rotate {
        transform: rotate(90deg);
      }

      &.active {
        color: $color-brand-primary;
      }
    }
  }

  .zoom-controls {
    .range-wrapper {
      max-width: 10vw;
    }
  }
}

</style>
