<template>
  <div class="upload-overlay">
    <section @dragover.prevent @drop.prevent="loadFile($event, 'midi')" v-if="globalState.config.enabledFeatures.uploader.midi">
      <div class="inner">
        <i class="material-icons no-pointer">music_note</i>
        <h2 class="no-pointer">Drag & Drop your MIDI file here</h2>
        <label class="button">
          <i class="material-icons">laptop</i>
          Upload from Computer
          <input type="file" accept="application/x-midi,audio/midi,.mid,.midi" @change="loadFile($event, 'midi')" @dragover.prevent @drop.prevent="loadFile($event, 'midi')"/>
        </label>
      </div>
    </section>
    <section @dragover.prevent @drop.prevent="loadFile($event, 'background')" v-if="globalState.config.enabledFeatures.uploader.background">
      <div class="inner">
        <i class="material-icons no-pointer">panorama</i>
        <h2 class="no-pointer">Drag & Drop your background image here</h2>
        <div class="opacity-wrapper">
          Opacity
          <div class="range-wrapper">
            <input type="range" min="0" :value="globalState.config.backgroundOpacity" max="1" step="0.01" @input="globalState.config.backgroundOpacity = $event.target.value">
            <div class="range-bg" :style="{width: globalState.config.backgroundOpacity * 100 + '%'}"></div>
          </div>
        </div>
        <label class="button">
          <i class="material-icons">laptop</i>
          Upload from Computer
          <input type="file" accept="image/*" @change="loadFile($event, 'background')" @dragover.prevent @drop.prevent="loadFile($event, 'background')"/>
        </label>
      </div>
    </section>
  </div>
</template>

<script>
import {State} from '../state/state'
import {FileUploader} from '../util/file-uploader'

export default {
  data() {
    return {
      globalState: State
    }
  },

  methods: {
    // Loads a selected file (by drag-n-drop or file select) Can be of type 'midi' or 'background' (MIDI file or Background Image)
    loadFile($event, type) {
      const selectedFile = $event.dataTransfer ? $event.dataTransfer.files[0] : $event.target.files[0]

      if(selectedFile) {
        const reader = new FileReader()

        reader.onload = (e) => {
          // Rudimentary MIME-Type Checking
          if (type === 'background' && selectedFile.type.indexOf('image/') === 0) {
            // Set the program's background image to the uploaded file.
            State.config.backgroundImage = e.target.result
          // Rudimentary MIME-Type Checking
          } else if (type === 'midi') {
            State.canLoadSheetMusic = false

            State.loadFiles({mid: e.target.result, title: selectedFile.name.split('.mid').join('')}, () => {
              State.togglePlayState()
            })

            FileUploader.uploadMIDIFile(selectedFile.name, selectedFile, baseName => {
              if(baseName) State.currentFiles.sheet = baseName
            })
          }
        };

        reader.readAsDataURL(selectedFile)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../styles/button';
  @import '../styles/input';

  $color-text: #EEE;

  .upload-overlay {
    overflow: hidden;
    display: flex;
    width: 100%;
    color: $color-text;

    section {
      flex: 1;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top: 0;
      border-bottom: 0;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }

      .inner {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        > * {
          margin-bottom: 6rem;
        }

        > i {
          display: block;
          font-size: 10rem;
        }
      }

      .no-pointer {
        pointer-events: none;
      }

      .opacity-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0;
        color: white;
        margin-bottom: 1.5rem;
        margin-top: -4.5rem;

        font-size: 2rem;
        text-transform: uppercase;

        .range-wrapper {
          max-width: 300px;
          margin-left: 1rem;
        }
      }
    }
  }
</style>
