<template>
  <div id="content-wrapper" :class="{responsive: enabledFeatures.responsiveMode}">
    <main-controls class="main-controls-wrapper" v-if="enabledFeatures.mainControls"></main-controls>

    <transition name="fade">
      <sub-controls v-show="globalState.subControlsOpen" v-if="enabledFeatures.subControls"></sub-controls>
    </transition>

    <transition name="slide-left">
      <layer-controls v-show="globalState.layerControlsOpen" v-if="enabledFeatures.layersPanel"></layer-controls>
    </transition>

	<transition name="slide-left">
      <search v-show="globalState.SearchOpen"></search>
    </transition>
	
    <transition name="fade">
      <upload-overlay v-show="globalState.playState === 0 && globalState.displayMode === 0"
      @click="globalState.subControlsOpen = globalState.layerControlsOpen = false"></upload-overlay>
    </transition>

    <transition name="fade">
      <div class="track-name" v-if="globalState.playState === 3 && globalState.currentFiles.title && globalState.config.showSongTitle">
        <span class="text">{{globalState.currentFiles.title.split('_').join(' ')}}</span>
      </div>
    </transition>

    <div class="interaction-body has-blur"
    :class="{blur: globalState.subControlsOpen || globalState.layerControlsOpen}" @click="globalState.subControlsOpen = globalState.layerControlsOpen = false">
      <div class="display-area-wrapper" :style="{
        transform: 'scale(' + zoomData.scale.x + ', ' + zoomData.scale.y + ') translateX(' + zoomData.offsetLeft * -1 + '%)'
      }">
        <note-area v-show="globalState.playState > 0" transition="expand"
          :class="{'temp-hide': globalState.displayMode !== 0}"
          :player="MIDI.Player"></note-area>
        <keyboard class="has-blur" v-if="globalState.displayMode === 0"></keyboard>
      </div>
      <transition name="fade">
        <sheet-music class="sheet-music" v-show="globalState.displayMode === 1"></sheet-music>
      </transition>
      <div class="background-image has-blur"
        :style="{backgroundImage: 'url(' + globalState.config.backgroundImage + ')', opacity: globalState.config.backgroundOpacity}"></div>
      </div>
  </div>
</template>

<script>
// Components
import MainControls from './components/MainControls.vue'
import SubControls from './components/SubControls.vue'
import LayerControls from './components/LayerControls.vue'
import UploadOverlay from './components/UploadOverlay.vue'
import NoteArea from './components/NoteArea.vue'
import SheetMusic from './components/SheetMusic.vue'
import Keyboard from './components/Keyboard.vue'
import Search from './components/Search.vue'

// Filters
import {NoteOps} from './util/note-ops'
import {msToTime} from './util/time-filters'

// Global State
import {State} from './state/state'

export default {
  data () {
    return {
      globalState: State,
      enabledFeatures: State.config.enabledFeatures,
      MIDI: window.MIDI,
    }
  },

  computed: {
    zoomData() {
      return this.globalState.config.zoomLevels[this.globalState.config.zoomLevel]
    }
  },

  components: {
    MainControls,
    SubControls,
    LayerControls,
    UploadOverlay,
    NoteArea,
    SheetMusic,
    Keyboard,
    Search
  }
}
</script>

<style lang="scss">
  @import './styles/transitions';
  @import './styles/colors';

  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  #content-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  html {
    // Set base font size. (~10px)
    font-size: 62.5%;
  }

  body {
    background-color: black;
  }

  .blur {
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);

    > * {
      pointer-events: none;
    }
  }

  .has-blur {
    transition: -webkit-filter .5s, filter .5s, opacity .5s, transform .5s;
  }

  ._unimplemented {
    background-color: red;
  }

  .track-name {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 25%;

    .text {
      font-size: 6vmin;
      color: $color-text-main;
      text-shadow: 0 0 20px $color-brand-primary;
      background-color: transparentize($color-brand-primary, 0.6);
      border-left: 0;
      border-right: 0;
      border-radius: 1vmin;
      min-width: 30%;
      padding: 4vh;
      text-align: center;
    }

    pointer-events: none;
    z-index: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .interaction-body {
    position: relative;
    height: calc(100% - 150px);
    overflow: hidden;
  }

  .main-controls-wrapper {
    position: relative;
    overflow: hidden;
    height: 150px;
    z-index: 200;
  }

  .display-area-wrapper {
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 1s;

    .temp-hide {
      visibility: hidden;
      margin-top: -300px;
    }
  }

  .keyboard-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
    z-index: 100;
  }

  .upload-overlay {
    position: absolute;
    top: 150px;
    bottom: 25%;
    z-index: 100;
  }

  .note-area {
    bottom: 25%;
  }

  .background-image {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
  }

  .blur .background-image {
    transform: scale(1.3);
  }

  @media (max-width: 750px) {
    #content-wrapper.responsive {
      > *:not(.main-controls) {
        display: none;
      }

      .main-controls {
        height: 100px;

        .left-controls, .right-controls {
          display: none !important;
        }

        .center-controls {
          width: 100%;
        }
      }
    }
  }
</style>
